Repository udx/worker, pull requests merged in 2025-07, with the labels that each got.

#88 Container env priority over config [UDXI-562]
  .github/workflows/build-and-test.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  lib/env_handler.sh
  lib/utils.sh
Labels: documentation, enhancement, dependencies, github_actions

#91 Env Resolution and Logging
  .github/workflows/release.yml
  lib/env_handler.sh
  lib/secrets.sh
  lib/secrets/aws.sh
  lib/secrets/azure.sh
  lib/secrets/bitwarden.sh
  lib/secrets/gcp.sh
  lib/utils.sh
Labels: enhancement, docker

#94 updated gcloud, aws cli
  Dockerfile
Labels: dependencies, docker
